:root {
  --grey-white-color: #858693;
  --font-white: #fff;
  --yellow-btns: #dd8338;
  --calc-body-color: #e0e0e0;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.Container {
  margin: 60px auto;
}

.calcInput {
  background-color: var(--grey-white-color);
  color: var(--font-white);
  width: 50%;
  height: 40px;
  font-size: 30px;
  text-align: right;
  border: none;
  outline: none;
  padding-right: 10px;
}

.calcBody {
  background-color: var(--calc-body-color);
}
