:root {
  --grey-white-color: #858693;
  --white-theme-color: #fff;
  --calc-body-color-left: #e0e0e0;
  --calc-body-color-right: #dd8338;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.Container {
  margin: 60px auto;
  width: 60%;
}

.calcInput {
  background-color: var(--grey-white-color);
  color: var(--white-theme-color);
  font-size: 30px;
  text-align: right;
  border: none;
  outline: none;
  margin: 0;
}

.calcInput input {
  background-color: var(--grey-white-color);
  color: var(--white-theme-color);
  font-size: 30px;
  text-align: right;
  border: none;
  outline: none;
  margin: 0;
}

.BodyContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.calcBodyleft {
  align-self: flex-start;
  background-color: var(--calc-body-color-left);
  width: 70%;
  height: 400px;
}

.calcBodyright {
  align-self: flex-end;
  background-color: var(--calc-body-color-right);
  width: 30%;
  height: 400px;
  padding: 0;
}

.LeftButtonContainer {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 0;
}

.RightButtonContainer {
  display: flex;
  flex-direction: column;
  color: #d6d1d1;
  text-align: center;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  border-radius: 2px;
  width: 100%;
  margin-top: 0;
}

.leftButtons {
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  border: var(--white-theme-color) solid 1px;
  height: 40px;
}

.rightButtons {
  background-color: var(--calc-body-color-left);
  flex-wrap: wrap;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  border: var(--white-theme-color) solid 1px;
}
